
@media only screen and (max-width: 640px){
    #cont-services{
        height: 200vh;
    }

    #join-btn-services{
        font-size: 18px;
      margin-top: 0px;
      margin-bottom: 15px;
      padding: 5px 30px;
      cursor: pointer;
      transition: .4s;
      margin-left: 1rem;
    }
    
    #join-btn-2{
        display: block;
        font-size: 18px;
        padding: 5px 20px;
        cursor: pointer;
        transition: .4s;
        margin-left: 1rem;
        width: 200px;
      }
}