

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9c0525;
    color: white;
  }

  .titulo{
      text-align: center;
      
  }


  @media only screen and (max-width: 640px)  {

    #customers {
      font-size: .5rem;
      font-weight: bold;
      color: black;
      text-align: start;
    }

    .deleteBtn{
        width: 35px;
        height: 25px;
        font-size: .5rem;
        color: white;
    }
    .editarBtn{
        width: 35px;
        height: 25px;
        font-size: .5rem;
        color: white;
    }

    .emailField{
      width: 10vw;
    }


  }